footer.footer 
    .container
        .row
            .col-md-12.text-center
                p © 2023 Your Company. All rights reserved.
                p Powered by <a href="https://example.com">Your Company</a>
                p Follow us on 
                    a(href="https://facebook.com") Facebook
                       